.m-list {
    height: 400px;
}

.mini {
    font-size: small;
}

html, body {
    height: 100%;
}

#emblem {
    border: 2px solid #00000000;
}
#emblem:hover {
    border: 2px solid #2d00cfa9;
}

.filter:hover {
    color: #000000!important;
}

@media (min-width: 992px) {
    .profile-title {
        max-height: 106px;
    }
}
