{% extends 'base.html' %}


{% block body %}
{% include "includes/navbar.html" %}
<div class="bg-dark text-light mb-3">
    <div class="container-md">
        <div class="d-flex flex-row my-3">
            {# num block #}
            <div class="d-flex flex-shrink-1 bg-primary flex-column p-3">
                <div class="text-light h1">{{ pr['id'] }}</div>
                <a class="text-light h2 mt-auto text-center" href="">{{ pr['groupe'] }}</a>
            </div>
            {# name title #}
            <div class="p-3 pl-2 pl-sm-3 pl-md-5 pb-0">
                <a class="h1 mb-0 text-decoration-none text-reset" data-toggle="collapse" href=".multi-collapse" role="button" aria-expanded="false">
                    {% if pr['anarana_feno'] == "" %}
                    {{ pr['anarana']}} <strong>{{ pr['fanampinanarana'] }}</strong>
                    {% else %}
                    {{ pr['anarana_feno'] }}
                    {% endif %}
                </a>

                <div class="mb-3">
                    {% if pr['tombotsoa'] %}
                    <a href="" class="badge rounded-pill bg-primary text-light">{{ pr['tombotsoa'] }}</a>
                    {% endif %}
                    {% if pr['maharitra'] %}
                    <a href="" class="badge rounded-pill bg-warning text-dark">Mpisavalalana Maharitra</a>
                    {% endif %}
                </div>

                <div class="collapse multi-collapse" id="info">
                    <div class="d-flex">
                        <a class="btn btn-light d-flex mr-2" href=""><i class="material-icons">edit</i></a>
                        <button type="button" class="btn btn-danger d-flex mr-2" data-toggle="modal" data-target="#deleteModal">
                            <i class="material-icons">delete</i>
                        </button>

                        <button
                            class="btn btn-light d-flex"
                            type="button"
                            data-toggle="modal"
                            data-target="#mpanampyModal"
                            {% if pr['maharitra'] %}disabled{% endif %}>
                                <i class="material-icons mr-sm-2">add</i>
                                <span class="d-none d-sm-inline">Mpisavalalala Mpanampy</span>
                        </button>
                    </div>
                </div>

                <a class="h1 mb-0 text-decoration-none text-reset" data-toggle="collapse" href=".multi-collapse" role="button" aria-expanded="false">
                    <div class="d-flex flex-column my-0 py-0">
                        <div class="collapse show multi-collapse mx-auto my-0 py-0">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                        <div class="collapse multi-collapse mx-auto mt-3 py-0">
                            <i class="material-icons">keyboard_arrow_up</i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-md">
    <div class="row">
        <div class="col-sm-5 col-md-4 mb-3 overflow-auto m-list">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary btn-block mb-3" data-toggle="modal" data-target="#tatitraModal">
                {% if has_report %}
                Hanavao tatitra
                {% else %}
                Hampiditra tatitra
                {% endif %}
            </button>

            <div class="card">
                <div class="card-body">
                    <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                        {% for month in report %}
                        <li class="nav-item">
                            <a class="nav-link" id="{{ month }}-tab" data-toggle="tab" href="#{{ month }}" role="tab" aria-controls="{{ month }}" aria-selected="true">
                                {{ month|month_name }}
                            </a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-7 col-md-8">
            <div class="tab-content" id="myTabContent">
                {% for month in report %}
                <div class="tab-pane fade" id="{{ month }}" role="tabpanel" aria-labelledby="{{ month }}-tab">
                    <h3 class="h4">
                        {{ month|month_name }}
                    <span class="badge rounded-pill bg-primary text-light">{{ report[month]['mpisavalalana'] }}</span>
                    </h3>
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Zavatra napetraka: </strong> {{ report[month]['zavatra_napetraka'] }}
                        </li>
                        <li class="list-group-item">
                            <strong>Video: </strong> {{ report[month]['video'] }}
                        </li>
                        <li class="list-group-item">
                            <strong>Ora: </strong> {{ report[month]['ora'] }}
                        </li>
                        <li class="list-group-item">
                            <strong>Fitsidihana: </strong> {{ report[month]['fitsidihana'] }}
                        </li>
                        <li class="list-group-item">
                            <strong>Fampianarana: </strong> {{ report[month]['fampianarana'] }}
                        </li>
                        <li class="list-group-item">
                            <strong>Fanamarihana: </strong> {{ report[month]['fanamarihana'] }}
                        </li>
                    </ul>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include "includes/footer.html" %}
{% endblock %}
