{% extends 'base.html' %}


{% block title %}ES21 - {{ pr['fanampinanarana'] }}{% endblock %}


{% block body %}
{% include "includes/navbar.html" %}
<div class="bg-dark text-light">
    <div class="container-md">
        <div class="d-flex flex-row my-3">
            {# num block #}
            <div class="d-flex flex-shrink-1 bg-{{ color_returned(pr) }} flex-column p-3">
                <div class="text-light h1">{{ pr['id'] }}</div>
                <a class="text-light h2 mt-auto text-center" href="">{{ pr['groupe'] }}</a>
            </div>
            {# name title #}
            <div class="p-3 pl-2 pl-sm-3 pl-md-5 pb-0">
                <a class="h1 mb-0 text-decoration-none text-reset" data-toggle="collapse" href=".multi-collapse" role="button" aria-expanded="false">
                    {% if pr['anarana_feno'] == "" %}
                    {{ pr['anarana']}} <strong>{{ pr['fanampinanarana'] }}</strong>
                    {% else %}
                    {{ pr['anarana_feno'] }}
                    {% endif %}
                </a>

                <div class="mb-3">
                    {% if pr['tombotsoa'] %}
                    <span class="badge rounded-pill bg-primary text-light">{{ pr['tombotsoa'] }}</span>
                    {% endif %}
                    {% if pr['maharitra'] %}
                    <a href="{{ url('regular.home') }}" class="badge rounded-pill bg-warning text-dark">Mpisavalalana Maharitra</a>
                    {% endif %}
                    {% if is_auxiliary %}
                    <a href="{{ url('auxiliary.home') }}" class="badge rounded-pill bg-info text-light">Mpisavalalana Mpanampy</a>
                    {% endif %}
                </div>

                <div class="collapse multi-collapse" id="info">
                    <div class="d-flex">
                        <a class="btn btn-light d-flex mr-2" href="{{ url('main.edit', id=pr['id']) }}"><i class="material-icons">edit</i></a>
                        <button type="button" class="btn btn-danger d-flex mr-2" data-toggle="modal" data-target="#deleteModal">
                            <i class="material-icons">delete</i>
                        </button>

                        <button
                            class="btn btn-light d-flex"
                            type="button"
                            data-toggle="modal"
                            data-target="#auxiliaryModal"
                            {% if pr['maharitra'] %}disabled{% endif %}>
                                <i class="material-icons mr-sm-2">add</i>
                                <span class="d-none d-sm-inline">Mpisavalalala Mpanampy</span>
                        </button>
                    </div>
                </div>

                <a class="h1 mb-0 text-decoration-none text-reset" data-toggle="collapse" href=".multi-collapse" role="button" aria-expanded="false">
                    <div class="d-flex flex-column my-0 py-0">
                        <div class="collapse show multi-collapse mx-auto my-0 py-0">
                            <i class="material-icons">keyboard_arrow_down</i>
                        </div>
                        <div class="collapse multi-collapse mx-auto mt-3 py-0">
                            <i class="material-icons">keyboard_arrow_up</i>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="container-md">
    <div class="row">
        <div class="col-md-9 mt-3">
            <div class="row">
                <div class="col-sm-5 col-md-4 mb-3 overflow-auto m-list">

                    <!-- Button trigger modal -->
                    {% if has_report %}
                    <button type="button" class="btn btn-outline-primary btn-block mb-3" data-toggle="modal" data-target="#reportModal">
                        Hanavao tatitra
                    </button>
                    {% else %}
                    <button type="button" class="btn btn-primary btn-block mb-3" data-toggle="modal" data-target="#reportModal">
                        Hampiditra tatitra
                    </button>
                    {% endif %}

                    <div class="card">
                        <div class="card-body">
                            <ul class="nav nav-pills flex-column" id="myTab" role="tablist">
                                {% for month in report %}
                                <li class="nav-item">
                                    <a class="nav-link{% if loop.first %} active{% endif %}" id="{{ month }}-tab" data-toggle="tab" href="#{{ month }}" role="tab" aria-controls="{{ month }}" aria-selected="true">
                                        {{ month|month_name }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 col-md-8">
                    <div class="tab-content" id="myTabContent">
                        {% for month in report %}
                        <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ month }}" role="tabpanel" aria-labelledby="{{ month }}-tab">
                            <h3 class="h4 mb-4">
                                {{ month|month_name }}
                            <span class="badge rounded-pill bg-primary text-light text-capitalize">{{ report[month]['mpisavalalana']|pionner_name }}</span>
                            </h3>

                            <table class="table table-bordered">
                                <caption>{{ report[month]['fanamarihana'] }}</caption>
                                <tbody>
                                    <tr>
                                        <th scope="row">Zavatra napetraka</th>
                                        <td>{{ report[month]['zavatra_napetraka'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Video</th>
                                        <td>{{ report[month]['video'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Ora</th>
                                        <td>{{ report[month]['ora'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fitsidihana</th>
                                        <td>{{ report[month]['fitsidihana'] }}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">Fampianarana</th>
                                        <td>{{ report[month]['fampianarana'] }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 order-first mt-md-3 order-md-last bg-dark text-light shadow p-4">
            <div class="row">
                <div class="mb-4 col-6 col-sm-3 col-md-12">
                    {% if pr['finday'] != ["", "", ""] %}
                    <h3 class="h3"><i class="material-icons">phone</i> Tel</h3>
                    <ul class="list-unstyled">
                        {% for phone in pr['finday'] %}
                            <li>{{ phone }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </div>

                <div class="mb-4 col-6 col-sm-3 col-md-12">
                    {% if pr['adiresy'] %}
                    <h3 class="h3"><i class="material-icons">place</i> Adiresy</h3>
                    <ul class="list-unstyled">
                        <li>{{ pr['adiresy'] }}</li>
                    </ul>
                    {% endif %}
                </div>

                <div class="mb-4 col-6 col-sm-3 col-md-12">
                    {% if pr['teraka'] %}
                    <h3 class="h3"><i class="material-icons">today</i> Teraka</h3>
                    <ul class="list-unstyled">
                        <li>{{ pr['teraka']|date }}</li>
                    </ul>
                    {% endif %}
                </div>

                <div class="mb-4 col-6 col-sm-3 col-md-12">
                    {% if pr['batisa'] %}
                    <h3 class="h3"><i class="material-icons">today</i> Batisa</h3>
                    <ul class="list-unstyled">
                        <li>{{ pr['batisa']|date }}</li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="reportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="reportModalLabel">Tatitra volana: <strong>{{ MONTH.prettie() }}</strong></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form method="post" novalidate>
                <div class="modal-body bg-light">
                    {{ form.csrf_token }}
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        <ul class="mb-0">
                            {% for error in form.errors %}
                            {% for e in form.errors[error] %}
                            <li>
                                {{ e }}
                            </li>
                            {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                    <div class="mb-3 row">
                        <div class="col-9">
                            {{ form.publication.label }}
                        </div>
                        <div class="col-3">
                           {% if form.publication.errors %}
                           {{ form.publication(class="form-control is-invalid") }}
                           {% else %}
                           {{ form.publication(class="form-control") }}
                           {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-9">
                            {{ form.video.label }}
                        </div>
                        <div class="col-3">
                            {% if form.video.errors %}
                            {{ form.video(class="form-control is-invalid") }}
                            {% else %}
                            {{ form.video(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-9">
                            {{ form.hour.label }}
                        </div>
                        <div class="col-3">
                            {% if form.hour.errors %}
                            {{ form.hour(class="form-control is-invalid") }}
                            {% else %}
                            {{ form.hour(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-9">
                            {{ form.visit.label }}
                        </div>
                        <div class="col-3">
                            {% if form.visit.errors %}
                            {{ form.visit(class="form-control is-invalid") }}
                            {% else %}
                            {{ form.visit(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <div class="col-9">
                            {{ form.study.label }}
                        </div>
                        <div class="col-3">
                            {% if form.study.errors %}
                            {{ form.study(class="form-control is-invalid") }}
                            {% else %}
                            {{ form.study(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="mb-3">
                        {{ form.remark.label }}
                        {% if form.remark.errors %}
                        {{ form.remark(class="form-control is-invalid") }}
                        {% else %}
                        {{ form.remark(class="form-control") }}
                        {% endif %}
                    </div>
                    <div class="mb-3 row">
                        <div class="col-6 col-md-7">
                            {{ form.pionner.label }}
                        </div>
                        <div class="col-6 col-md-5">
                            {% if form.pionner.errors %}
                            {{ form.pionner(class="form-control is-invalid") }}
                            {% else %}
                            {{ form.pionner(class="form-control") }}
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="modal-footer d-flex flex-row">
                    <button type="button" class="btn btn btn-secondary" data-dismiss="modal">Hiverina</button>
                    <button type="submit" class="btn btn-primary flex-grow-1">
                        {% if has_report %}
                        Havaozina
                        {% else %}
                        Hampidirina
                        {% endif %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">
                    Fanafoanana ny mpitory
                    {{ pr['anarana']}} <strong>{{ pr['fanampinanarana'] }}</strong>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <p>
                    Tena tianao ve ny hamafa ny mpitory {{ pr['anarana']}} <strong>{{ pr['fanampinanarana'] }}</strong>
                </p>
                <div class="alert alert-danger" role="alert">
                    Tadidio fa tsy ho azo averina intsony ny zavatra voafafa
                </div>
                <p class="mb-1">
                    Soraty eto ambany ny anaran'ilay mpitory ho fanamafisana
                </p>
            </div>
            <form class="justify-content-center mx-3 mb-3" method="post" action="{{ url_for('main.delete', id=pr['id']) }}">
                <input class="form-control" name="name" type="text" aria-label="anarana">
                <button class="btn btn-block btn-outline-danger mt-3" type="submit">Hamafa</button>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="auxiliaryModal" tabindex="-1" role="dialog" aria-labelledby="auxiliaryModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="auxiliaryModalLabel">
                    Fampidirana mpisavalalana mpanampy
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <form method="post" action="{{ url_for('auxiliary.edit', id=pr['id']) }}">
                    <div class="row px-3">
                        {% for month in months %}
                        <div class="col-6 btn-group-toggle px-1 pb-1" data-toggle="buttons">
                            <label class="btn btn-block btn-outline-secondary {{ month.active }}">
                                <input type="checkbox" name="{{ month.id }}" id="{{ month.id }}" autocomplete="off" {{ month.checked }}>
                                {{ month.name }}
                            </label>
                        </div>
                        {% endfor %}
                    </div>
                <button class="btn btn-primary btn-block mt-2" type="submit">Hampidirina</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "includes/footer.html" %}
{% endblock %}


{% block script %}

{% if form.errors %}
<script>
    const reportModal= new bootstrap.Modal(document.getElementById('reportModal'));
    reportModal.show();
</script>
{% endif %}

<script>
    const int_list = ['#publication', '#video', '#hour', '#visit', '#study']

    let cleave = []
    for (i = 0; i < int_list.length; i++) {
        cleave.push(
            new Cleave(int_list[i], {
                numeral: true,
                numeralPositiveOnly: true
            })
        );
    }
</script>
{% endblock %}
