<a class="text-decoration-none" data-toggle="collapse" href=".multi-collapse" aria-expanded="false">
    <div class="jumbotron accordion bg-dark text-light p-3 p-sm-4 p-md-5 rounded">
        <h1 class="display-4">{{ MONTH.prettie() }}</h1>

        {{ content|safe }}

        <div class="d-flex flex-column my-0 py-0">
            <div class="collapse show multi-collapse mx-auto my-0 py-0">
                <i class="material-icons">keyboard_arrow_down</i>
            </div>
            <div class="collapse multi-collapse mx-auto my-0 py-0">
                <i class="material-icons">keyboard_arrow_up</i>
            </div>
        </div>
    </div>
</a>
