<div class="card">
    <div class="card-body">
        <table class="table table-borderless mb-0">
            <tbody class="mini">
                <tr class="text-danger">
                    <td>Latsaky ny 5 ora</td>
                    <td>{{ less5[0] }}</td>
                    <td>{{ round(less5[1], 2) }}%</td>
                </tr>
                <tr>
                    <td>5 atraminy 9 ora</td>
                    <td>{{ btw59[0] }}</td>
                    <td>{{ round(btw59[1], 2) }}%</td>
                </tr>
                <tr>
                    <td>Mihoatra ny 10</td>
                    <td>{{ mor10[0] }}</td>
                    <td>{{ round(mor10[1], 2) }}%</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
