<a class="text-dark text-decoration-none" href="{{ url('main.preacher', id=p['id']) }}">
    <div class="card d-flex flex-row shadow-sm">
        <div class="d-flex flex-shrink-1 bg-{{ color_returned(p) }} flex-column p-3 round">
            <div class="text-light h5">{{ p['id'] }}</div>
            <div class="text-light h5 mt-auto text-center mb-0">{{ p['groupe'] }}</div>
        </div>
        <div class="card-body p-3">
            <h5 class="card-title mb-1">
                {% if use_long_name and p['anarana_feno'] %}
                <span class="d-md-none">{{ p['anarana'] }} <strong>{{ p['fanampinanarana'] }}</strong></span>
                <span class="d-none d-md-inline">{{ p['anarana_feno'] }}</span>
                {% else %}
                {{ p['anarana'] }} <strong>{{ p['fanampinanarana'] }}</strong>
                {% endif %}
            </h5>

            <div style="height: 25px;">
                {% if p['tombotsoa'] %}
                <span class="badge rounded-pill bg-primary text-light">{{ p['tombotsoa'] }}</span>
                {% endif %}
                {% if p['maharitra'] %}
                <span class="badge rounded-pill bg-warning text-dark">Mpisavalalana Maharitra</span>
                {% endif %}
                {% if is_auxiliary %}
                <span class="badge rounded-pill bg-info text-light">Mpisavalalana Mpanampy</span>
                {% endif %}
            </div>

        </div>
    </div>
</a>
