<footer class="mb-0 mt-auto">
    <div class="container-fluid d-flex justify-content-end">
        <span class="text-muted d-flex my-auto">
            Made with <i class="material-icons mx-1"> favorite</i> by
        </span>
        <a class="rounded-pill d-flex flex-row justify-content-end shadow ml-3 my-3 p-1 text-reset text-decoration-none" style="width: 110px;" href="https://www.facebook.com/unvi.ray.7">
            <span class="font-weight-bold my-auto text-dark">Unviray</span>
            <img class="img-fluid" src="{{ url_for('static', filename='img/Unvi-logo.png') }}" alt="Unvi-logo" width="38", height="38">
        </a>
    </div>
</footer>
