<footer class="mb-0">
    <div class="container d-flex justify-content-end">
        <span class="text-muted d-flex my-auto">
            Made with <i class="material-icons mx-1"> favorite</i> By
        </span>
        <div class="rounded-pill d-flex flex-row justify-content-end shadow ml-3 my-3 p-1" style="width: 115px;">
            <span class="font-weight-bold my-auto">Unviray</span>
            <img class="img-fluid" src="{{ url_for('static', filename='img/Unvi-logo.png') }}" alt="Unvi-logo" width="38", height="38">
        </div>
    </div>
</footer>
