<nav class="navbar sticky-top navbar-expand-md navbar-dark bg-dark shadow-lg d-print-none">
    <div class="container">
        <a class="navbar-brand h1 mb-0 mr-3" href="{{ url('home') }}">ES21</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-md-flex" id="navbarContent">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item mr-2 mb-2 mb-md-0">
                    <a class="btn btn-outline-secondary" href="#monthModal" data-toggle="modal" data-target="#monthModal">
                        {{ app.config['MONTH'].prettie() }}
                    </a>
                </li>
            </ul>
            {% if not hide_search %}
            <form class="form-inline btn-group ml-auto bg-white rounded" method="post">
                <button class="btn btn-light my-2 my-sm-0 d-flex rounded-0 rounded-left" type="submit"><i class="material-icons">search</i></button>
                <input class="form-control bg-light border-light rounded-0 rounded-right pl-0" name="search" type="search" placeholder="Hitady" aria-label="Search">
            </form>
            {% endif %}
        </div>
    </div>
</nav>


<div class="modal fade" id="monthModal" tabindex="-1" role="dialog" aria-labelledby="monthModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="monthModalLabel">Volana iasana</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form class="form-inline justify-content-center m-3" method="post">
                <input class="form-control mr-2" name="month" type="month" placeholder="Volana" aria-label="month">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Hanova</button>
            </form>
        </div>
    </div>
</div>
