<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark mb-3 shadow-lg d-print-none">
    <div class="container-md">
        <a class="navbar-brand h1 mb-0 mr-3" href="">ES21</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse d-md-flex" id="navbarContent">
        </div>
    </div>
</nav>
